/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
body {
    font-family: $main-font-family !important;
}
.btn:disabled {
    opacity: 0.65;
    pointer-events: none;
}