<div class="row">
    <div *ngIf="activeRecipe" class="col-12 d-flex d-flex align-items-center flex-column py-3">
        <p *ngIf="showInvalidIngredientsMessage" class="error-message">
            We cannot calculate the nutrition for some ingredients. Please check the ingredient spelling or if you have entered a quantities for the ingredients.
        </p>
        <div *ngIf="recipeIngredients.length>0&&!isLoading">
            <app-ingredients-table [ingredients]="recipeIngredients"></app-ingredients-table>
        </div>
        <button  *ngIf="!isLoading" [routerLink]="['/']" type="button" class="btn btn-info my-2">New Recipe</button>
        <button *ngIf="recipeIngredients.length>0&&!isLoading" type="button" class="btn btn-success" (click)="showTotalNutrition()">Total Nutrition</button>
        <div *ngIf="showTotal" class="my-3 text-center">
            <h5 class="">Total Calories <span class="font-weight-bold">{{totalNutritionCalories}}</span></h5>
            <app-nutrition-table [data]="nutritionData"></app-nutrition-table>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
    </div>
    <div *ngIf="!activeRecipe" class="col-12 d-flex d-flex align-items-center flex-column py-3">
        <ngb-alert  [type]="'warning'" [dismissible]="false">
            No active recipes found
        </ngb-alert>
        <button  [routerLink]="['/']" type="button" class="btn btn-info">New Recipe</button>
    </div>
</div>